
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    body {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    h1 {
        font-size: 2rem;
    }

    .section-content img {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    body {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    h1 {
        font-size: 2.5rem;
    }

    .section-content img {
        max-width: 30%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 0.9rem;
        line-height: 1.7;
    }

    h1 {
        font-size: 3rem;
    }

    .section-content img {
        max-width: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 1rem;
        line-height: 1.8;
    }

    h1 {
        font-size: 48px;
    }

    .section-content img {
        max-width: 40%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 1rem;
        line-height: 1.9;
    }

    h1 {
        font-size: 4rem;
    }

    .section-content img {
        max-width: 50%;
    }
}
  
  body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
    padding: 12px
  }
  
  footer a:hover {
    background-color: #555;
}
   
    
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section p {
    margin-bottom: 10px;
  }
  
  section ul {
    margin-left: 20px;
  }
  
  section a {
    color: #007bff;
    text-decoration: none;
  }
  
  section a:hover {
    text-decoration: underline;
  }
  
  .section-content {
    display: flex;
    align-items: flex-start;
  }
  
  .section-content p {
    flex: 1;
    margin-right: 10px;
  }
  
  .section-content img {
    flex: 0 0 auto;
    max-width: 40%;
    height: auto;
    float: right;
  }

 
  